/* .course-options_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .course-options_content ul {
    display: flex;
} */

.options_list {
    display: flex;
    gap: 5rem;
}

.options_list li{
    position: relative;
    color: black;
    cursor: pointer;
}

.options_list li.active{
    color: var(--color-thickgreen);
}

.options_list li.active::after {
    background-color: var(--color-thickgreen);
}

.options_list li::after,
.options_list li a {
    position: relative;
    color: black;
}

.options_list li a.active{
    color: var(--color-thickgreen);
}

.options_list li.active::after {
    background-color: var(--color-thickgreen);
}

.options_list li::after {
    content: ' ';
    display: block;
    height: 2px;
    background-color: black;
    bottom: -4px;
    width: 0;
    position: absolute;
    transition: all ease-in-out 250ms;
}

.options_list li:hover::after,
.options_list li.active::after{
   width: 100%;
}