@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');


/* --------------------- SUB HEADING SECTION -------------------- */

.sub-header_content {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 3rem 0 3rem 0;
}

.sub_title {
    font-size: 1.3rem;
}

.sub_paragraph {
    font-size: 1.1rem;
}

/* --------------------- BAG ITEM SECTION ---------------------  */

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    /* border: 1px solid #cce7d0; */
    /* border-radius: 20px; */
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 5px;
}

#product1 .pro .des {
    text-align: center;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 1rem;
    /* color: #088178; */
}

#product1 .pro .cart {
    width: 50px;
    height: 50px;
    line-height: 20px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    /* border: 1px solid rgb(128, 42, 42); */
}