@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Luxurious+Roman&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Bungee&family=Cinzel:wght@400;600&family=Gloock&family=Great+Vibes&family=Imperial+Script&family=Kanit:wght@300&family=League+Spartan&family=Luxurious+Roman&family=Norican&family=Oswald&family=Poppins:wght@400;500;600&family=Prosto+One&family=Raleway:wght@400;500;600&family=Saira+Condensed:wght@300;400&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    padding: 0 4px;
    cursor: pointer;
}

/*----------------- START TOP FOOTER -------------*/
.top-footer{
    width: 100%;
    height: 2rem;
    background-color: black;
}

.footer-context h4{
    text-align: center;
    padding: 4px;
    color: white;
    font-size: 1rem;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: capitalize;
    animation: animate 10s infinite ease-in-out;
}

@keyframes animate {
    0% {
        color: rgb(255, 201, 217);
    }

    50% {
        color: rgb(199, 247, 199);
    }

    100% {
        color: rgb(252, 175, 175)
    }
}


/* --------------------- END TOP FOOTER ---------------------- */

/* ------------------------ HEADER AND NAVBAR ----------------*/
.header {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header_content {
    text-align: center;
    padding: 0.5rem 0 1rem 0;
}

.hf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 3rem;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.hf h4 {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

/* Style the search bar container */
form {
    border: none;
}

/* Style the search input */
input[type="text"] {
    width: 250px;
    padding: 10px;
    height: 33px;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
  
  /* Style the search button */
form button[type="submit"] {
    margin: -50px;
    width: 32px;
    font-size: 1.4rem;
    border-bottom-right-radius: 10px;
    background: var black;
    color: black;
    cursor: pointer;
}

.nav-menu li{
    display: inline-block;
    padding: 0 20px;
}

.nav-menu li a{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
}

.nav-menu li a.active {
    color: #cac9c9;
} 

.nav-menu li a::before{
    content: " ";
    display: block;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -4px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.nav-menu li a:hover::before,
.nav-menu li a.active::before{
    width: 100%;
}

.nav-menu::after {
    content: "";
    clear: both;
    display: table;
}
 /* ---------------- END HEADER/NAVBAR SECTION ---------------  */


/* ----------------- START NEW ARRIVAL SECTION -------------------*/

.hero_content {
    display: flex;
    align-items: center
}

.home-img {
    width: 68%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(images/home\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 35s infinite ease-in-out;
}

@keyframes change {
    0% {
        background-image: url(images/home\ \(2\).jpg);
    }
    20% {
        background-image: url(images/pexel1.jpg);
    }
    40% {
        background-image: url(images/pexel2.jpg);
    }
    80% {
        background-image: url(images/moreimg\ \(1\).jpg);
    }
    100% {
        background-image: url(images/moreimg\ \(2\).jpg);
    }
}

@media (max-width: 1429px){
    .home-img {
        width: 140%;
    }
}

.text {
    padding: 0 10rem 0 ;
    font-variant: small-caps;
    text-align: center;
    font-size: 1.3rem;
}

.text span p{
    padding: 1rem 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

.button {
    border: none;
    color: white;
    padding: 10px 28px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    font-size: 110%;
    background-color: white; 
    color: black; 
    margin-top: 0.7rem;
    border: 2px solid black;
}
  
.button1:hover {
    background-color: black;
    color: white;
}
/*   ------------------- END NEW ARRIVAL SECTION ------------------------*/

/* ---------------- START VALUT SECTION -------------*/

.vault_header {
    text-align: center;
    font-size: 1.2rem;
    font-variant: small-caps;
    padding: 4rem 0 3rem 0;
}

.vault_columns {
    display: flex;
    gap: 2rem;
}

.vault_columns {
    text-align: center;
}

.column h4 a{
    color: black;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
}

.column img{
    border-radius: 1%;
    padding: 0 0 0.6rem 0;
}

.column h4 {
    margin-bottom: 1rem;
}

.column span a {
    text-decoration: underline;
    color: black;
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
} 
/* ----------------- END VALUT SECTION -----------*/

/* ------------ START TOP PICKS --------------------*/

/* --------------------- END TOP PICKS ---------------------- */



/* --------------------- START ABOUT US SECTION ---------------------*/

.about_title {
    text-align: center;
    font-size: 1.2rem;
    font-variant: small-caps;
    padding: 4rem 0 3rem 0;
    text-transform: uppercase;
}

.about_content {
    display: flex;
    /* padding: 2rem 3rem; */
}

.about_left_text {
    width: 50%;
    height: 60rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_text h4 {
    text-align: center;
    font-size: 2.6rem;
    font-variant: small-caps;
    padding: 0 0 2rem;
    text-transform: uppercase;
}

.about_text p {
    padding: 0 2rem 1.5rem 2rem;
    text-align: center;
    font-size: 1.8rem;
}

.button2 {
    font-size: 110%;
    background-color: white; 
    color: black; 
    margin-top: 0.7rem;
    border: 2px solid black;
}
  
.button2:hover {
    background-color: #cac9c9;
    color: black;
}

.about_right_image {
    width: 60%;
    height: 60rem;
    background-image: url(images/homeimg\ \(4\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ------------------END ABOUT US SECTION ------------------ */

/* ----------------- START BGDOWN SECTION -----------------*/
.banner {
    padding: 4rem 0 4rem 0;
}
.banner_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url(images/bgg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.banner_content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

.banner_text h3{
    text-transform: capitalize;
    font-size: 3rem;
    color: white;
    padding-bottom: 20px;
}

.banner_text a {
    color: #fff;
    transition: 2s ease-in-out;
}

.banner_text a:hover {
    font-size: 1.1rem;
    color: #cac9c9;
    text-decoration: underline;
}

/* --------------------- FOOTER ----------------------*/

.footer{
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 20px;
    padding: 70px 2rem 50px 5rem;
    box-sizing: border-box;
    background-color: #18181a;
    list-style: none;
    text-decoration: none;
}

/* a:visited {
    color: white ;
    background-color: transparent;
    text-decoration: none;
} 
a:hover {
    color:rgba(243, 39, 39, 0.418);
    background-color: transparent;
    text-decoration: bold;
} */

/* .footer_third a:hover {
    opacity:1.0;
} */
/* rgba(255, 255, 255, 0.418) */
/* .inner_footer .logo_container{
    width: 20%;
    float: left;
    height: 100%;
    display: block;
    padding-top: 10px;
    padding-left: 50px;
    size: 50px;
} */

/* .inner_footer .logo_container img{ */
    /* font-family:  'Imperial Script', cursive;
    color: rgb(223, 75, 75);
    font-family: 'Oswald', sans-serif; */
    /* width: 130px;
    height: auto;
    padding-left: 0px;
} */

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
    padding-right: 50px;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
}

.inner_footer .footer_third h2{
    font-family: arial;
    font_size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third h2 a{
    padding-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: arial;
    font_size: 15px;
    color: white;
    display: inline-block;
    font-weight: 100px;
    width: 100%;
    padding: 0 5px;
    padding-bottom: 15px;
}

.inner_footer .footer_third li{
    display: inline-block;
    width: 30px;
    height: 25px;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span{
    color: white;
    font-size: 16px;
    font-family: 'arial';
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 10px;
} 

.footer-bottom {
    text-align: center;
    color: white;
    /* float: left; */
    /* text-align: center; */
    /* margin-top: 50%; */
    /* padding-top: 60px; 
    padding-bottom: 0%; */
}
.footer-bottom p{
    text-align: center;
}
@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}
/* -------------------- END OF FOOTER -------------------------*/
