@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Bungee&family=Cinzel:wght@400;600&family=Gloock&family=Great+Vibes&family=Imperial+Script&family=Josefin+Sans&family=Kanit:wght@300&family=League+Spartan&family=Luxurious+Roman&family=Norican&family=Orbitron&family=Oswald&family=Poppins:wght@400;500;600&family=Prosto+One&family=Raleway:wght@400;500;600&family=Saira+Condensed:wght@300;400&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------- SUB HEADING SECTION -------------------- */

.sub-header_content {
    text-align: center;
    padding: 4rem 5% 3rem 5%;
}

.sub_title {
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 2rem;
}

.sub_paragraph {
    font-size: 1.1rem;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 2.5%;
}

/* ---------------------BAG / ACCESSORIES ITEM SECTION ---------------------  */

#product1 {
    text-align: center;
}

#product1 .pro-container {
    padding: min(3px, 10vh);
    padding: 0 5% 0 5%;
    /* padding: 10px 8% 0 8%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
}

#product1 .pro {
    /* width: 23%; */
    /* min-width: 300px; */
    padding: 10px 12px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    margin-bottom: 3%;
}

#product1 .pro .des {
    text-align: center;
}

/* bag name  */
#product1 .pro .des h5 {
    text-transform: uppercase;
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}

/* colors  */
#product1 .pro .des span {
    color: #606063;
    font-size: 15px;
}

/* price  */
#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 0.6rem;
    /* color: #088178; */
}

.button {
    border: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 0.7rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3 {
    background-color: white; 
    color: black; 
    margin-top: 0.7rem;
    border: 2px solid black;
    margin-bottom: 30%;
}
  
.button3:hover {
    background-color: black;
    color: white;
}
/* ------------------------- MEDIA QUERY SECTION IN BAGS / ACCESSORIES SECTION ----------------  */
@media (max-width: 1290px) {
    #product1 .pro-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    #product1 .pro-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    #product1 .pro-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 6% 0 6%;
    }
}




















/* --------------------- BAGS / ACCESSORIES ITEM SECTION ---------------------  */

/* body {
    color: #2d3142;
    background-color: #e9e9e9;
} */


/* ---------------------- COLLETIONS PAGE ----------------------  */
.collection_header h1 {
    padding: 0 5% 0 5%;
    padding-block: min(5%, 6vh);
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.collection_container {
    background-color: #e9e9e9;
    padding: 0 10% 5% 10%;
}

.collection_contents {
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.collection_contents img {
    width: 40%;
    max-height: 75vh;
}

.first-img_content h3 {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
}

.first-img_content p {
    /* font-size: 1rem; */
    font-family: 'Josefin Sans', sans-serif;
}

.button4 {
    background-color: #e9e9e9;
    color: black; 
    margin-top: 0.7rem;
    border: 2px solid black;
}

.button4:hover {
    background-color: black;
    color: white;
}

.collection_content1 {
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.collection_content1 img {
    width: 40%;
    max-height: 75vh;
}

/* ------------------------- MEDIA QUERY SECTION IN COLLECTION SECTION ----------------  */
@media (max-width: 1273px) {
    .collection_content1 {
        gap: 1.5rem;
    }

    .collection_contents img {
        width: 60%;
    }

    .collection_content1 img {
        width: 60%;
    }

    .first-img_content h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 850px) {
    .collection_content1 {
        flex-direction: column;
    }

    .collection_contents {
        flex-direction: column;
        gap: 1.5rem;
    } 

    .collection_content1 img {
        width: 80%;
    }

    .collection_contents img {
        width: 80%;
    }

    .first-img_content {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .collection_content1 img {
        width: 100%;
    }

    .collection_contents img {
        width: 100%;
    }
} 

/* --------------------  END COLLECTION SECTION ----------------  */

/* ------------------------ CONTACT US CSS SECTION ---========----------  */
.contact-us_container {
    margin-bottom: 3rem;
    font-family: 'Raleway', sans-serif;
}

.contact-us_container h1{
    padding: 3rem 0 4rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Merriweather', serif;
}

.mapTwo {
    display: none;
}

.contact-us_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5% 0 5%;
    gap: 2rem;
}

.contact_info h2{
    padding: 0 0 2rem 0;
}

.info li{
    padding: 0 0 1rem 0;
}

.info ul {
    margin-bottom: 1.8rem;
}

.info li span {
    font-size: 1.1rem;
    font-weight: 700;
}

.form_container {
    width: 655px;
    height: 50%;
    background-color: aliceblue;
}

.contact_form {
    padding: 2rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    margin: 0.2rem;
}

input, textarea {
    border: none;
    font-size: 0.9rem;
    width: 100%;
    padding: 0.6rem;
}

.sendBtn {
    border: none;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    margin-top: 0.8rem;
    width: 25%;
    transition: transform .2s;
    text-align: center;
}

.sendBtn button{
    font-size: 18px;
}

.sendBtn:hover {
    transform: scale(1.2);
}

/* ------------------------- MEDIA QUERY SECTION IN CONTACT ME SECTION ----------------  */ 

@media (max-width: 1378px) {
    .contact-us_content {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .form_container {
        /* width: 550px; */
        width: 60%;
        height: 50%;
    }
}

@media (max-width: 940px) {
    .form_container {
        /* width: 550px; */
        width: 70%;
        height: 50%;
    }
    iframe {
        width: 450px;
        height: 355px;
    }
}

@media (max-width: 800px) {
    iframe {
        width: 80vw;
        height: 50vh;
    }

    .form_container {
        /* width: 550px; */
        width: 80%;
        height: 50%;
    }

    .info {
        flex-direction: column;
        margin: 0;
    }

    .mapTwo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .map {
        display: none;
    }
}

/* --------------------  END CONTACT ME SECTION ----------------  */


/* ----------------- FOOOTER SECTION ------------------  */
.footer {
    margin: 3% 8% 5% 8%;
}

hr {
    font-weight: 900;
}

.footer_container h2 {
    padding: 3rem 0 1rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footer_socials li i {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    transition: transform .2s;
}

.footer_socials li:hover {
    transform: scale(1.2);
}

/* --------------------- END FOOTER SECTION -----------------  */