@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Luxurious+Roman&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Bungee&family=Cinzel:wght@400;600&family=Gloock&family=Great+Vibes&family=Imperial+Script&family=Kanit:wght@300&family=League+Spartan&family=Luxurious+Roman&family=Norican&family=Oswald&family=Poppins:wght@400;500;600&family=Prosto+One&family=Raleway:wght@400;500;600&family=Saira+Condensed:wght@300;400&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
  }

button {
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    padding: 0 4px;
    cursor: pointer;
}

/* START TOP FOOTER */
.top-footer{
    width: 100%;
    height: 2rem;
    background-color: black;
}

.footer-context h4{
    text-align: center;
    padding: 4px;
    color: white;
    font-size: 1rem;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: capitalize;
    animation: animate 10s infinite ease-in-out;
}

@keyframes animate {
    0% {
        color: rgb(255, 201, 217);
    }

    50% {
        color: rgb(199, 247, 199);
    }

    100% {
        color: rgb(252, 175, 175)
    }
}


/* END TOP FOOTER */


/* ------------------------ HEADER AND NAVBAR ----------------*/
.header {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header_content {
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    /* border-bottom: 0.1rem solid black; */
}

.hf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.hf h4 {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.nav-menu li{
    display: inline-block;
    padding: 0 20px;
}

.nav-menu li a{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
}

.nav-menu li a.active {
    color: #cac9c9;
} 

/* .nav-menu li a:hover {
    color: black;
} */

.nav-menu li a::before{
    content: " ";
    display: block;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -4px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.nav-menu li a:hover::before,
.nav-menu li a.active::before{
    width: 100%;
}

.nav-menu::after {
    content: "";
    clear: both;
    display: table;
}
 /* ---------------- END HEADER/NAVBAR SECTION ---------------  */


/*START NEW ARRIVAL SECTION*/

.hero_content {
    display: flex;
    align-items: center
}

/* .hero_content img{
    width: 68%; 
    height: 100vh;
    animation: change 10s infinite ease-in-out;
} */


.home-img {
    width: 68%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(images/home\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 35s infinite ease-in-out;
}

@keyframes change {
    0% {
        background-image: url(images/home\ \(2\).jpg);
    }
    20% {
        background-image: url(images/pexel1.jpg);
    }
    40% {
        background-image: url(images/pexel2.jpg);
    }
    80% {
        background-image: url(images/moreimg\ \(1\).jpg);
    }
    100% {
        background-image: url(images/moreimg\ \(2\).jpg);
    }
}

@media (max-width: 1429px){
    .home-img {
        width: 140%;
    }
}

.text {
    padding: 0 10rem 0 ;
    font-variant: small-caps;
    text-align: center;
    font-size: 1.3rem;
}

.text span p{
    padding: 1rem 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

.button {
    border: none;
    color: white;
    padding: 10px 28px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    font-size: 110%;
    background-color: white; 
    color: black; 
    margin-top: 0.7rem;
    border: 2px solid black;
}
  
.button1:hover {
    background-color: black;
    color: white;
}
/*   ------------------- END NEW ARRIVAL SECTION ------------------------*/

/* ---------------- START VALUT SECTION -------------*/

.vault_header {
    text-align: center;
    font-size: 1.2rem;
    font-variant: small-caps;
    padding: 4rem 0 3rem 0;
}

.vault_columns {
    display: flex;
    gap: 2rem;
}

.vault_columns {
    text-align: center;
}

.column h4 a{
    color: black;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.column img{
    border-radius: 1%;
    padding: 0 0 0.6rem 0;
}

.column h4 {
    margin-bottom: 1rem;
}

.column span a {
    text-decoration: underline;
    color: black;
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
} 

/* ----------------- END VALUT SECTION -----------*/



/* ------------ START TOP PICKS --------------------*/

.top-pick_title {
    text-align: center;
    font-size: 1.2rem;
    font-variant: small-caps;
    padding: 4rem 0 3rem 0;
    text-transform: uppercase;
}

.clm{
    float: left;
    width: 25%;
    padding: 1%;
    padding-top: 3.5%;
    text-align: center;
}

.clm img {
    border-radius: 1%;
}

.clm h2{
    padding-top: 6%;
    padding-bottom: 4.5%;
} 

.clm a {
    font-family: 'Saira Condensed', sans-serif;
}

.clm a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
.clm a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.clm a:hover {
    color: rgb(77, 29, 29);
    background-color: transparent;
    text-decoration: underline;
}

.clm u{
    text-decoration-line: underline;
    font-family: 'Saira Condensed', sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .clm {
      width: 100%;
    }
} 
/* END TOP PICKS */

/*START ABOUT US SECTION*/
.table {
    /* position: absolute; */
    left: 50%;
    /* transform: translateX(5px); */
    transform: translate(10%, -150%);
    padding-top: 4%;
    padding-right: 20px;
    font-family: 'Luxurious Roman', cursive;
}

.table {
    background-color: rgb(107, 18, 18);
    width: 25rem;
    height: 30rem;
}

.text h3{
    position: absolute;
    top: 50%;
    text-align: left;
    color: black;
    font-family: 'Luxurious Roman', cursive;
}

/* START HOT SEASON */
.hot{
    padding-top: 35px;
    padding-left: 30px;
    padding-bottom: 40px;
} 

*{
    margin: auto;
    padding: 0;
}

.container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 800px; 
    width: 100%; 
    /* display: column; */
    padding-left: 10px;
    padding-right: 10px;
}

.cont { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 800px; 
    width: 100%; 
    /* display: column; */
    padding-left: 10px;
    padding-right: 10px;
    /* width: calc(200% - (10px * 2)); */
    /* margin: 10px; */
}
 
.con-context {
    position: relative;
    text-align: center;
    color: white;
}

.note {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 25px;
}

/* @media screen and (max-width: 500px) {
    .con-context {
      width: 100%;
    }
}  */

.con-context2 {
    position: relative;
    text-align: center;
    color: white;
}

.notes {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 25px;
}

.con-context::after {
    content: "";
    clear: both;
    display: table;
}

/* @media screen and (max-width: 500px) {
    .con-context2 {
      width: 100%;
    }
}  */
/* END HOT SEASON */

/* START BGDOWN SECTION */
.bg-down {
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: white;
}
.bg-down img{
    padding-left: 5%;
    padding-right: 3%;
}
.bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 4%;
    padding-left: 750px;
    font-size: 50px;
    font-family: 'Luxurious Roman', cursive;
}
.bg-text p{
    padding-top: 6%;
    font-size: 15px;
}
.bg-down p img{
    color: white;
}

/* .bg-text a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
} */
.bg-text a:visited {
    color: white ;
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s;
}
.bg-text a:hover {
    color: rgb(77, 29, 29);
    background-color: transparent;
    text-decoration: bold;
}

/* .bg-text a p ion-icon caret-forward-outline{
    size: 80px;
    width: 30%;
    height: 25%;
} */
/* 
@media screen and (max-width: 600px) {
    .bg-down {
        width: 50%;
    }
    .bg-text {
        text-align: center;
    }
} */
/* END BGDOWN SECTION */

/* START NEXT NAVIGATION BAR{BAGS} */
.all h1{
    padding-top: 5%;
    padding-bottom: 2.5%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.all2 {
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}
/* END NEXT NAVIGATION BAR{BAGS} */

/*bags*/
* {
    box-sizing: border-box;
}

.ROW {
    margin-bottom: 50%;
}

.COLUMN {
    float: left;
    width: 25%;
    padding: 5px;
    padding-left: 3%;
    padding-right: 2%;
    text-align: center;
    margin-bottom: 3%;
}

.COLUMN img{
    border-radius: 1%;
}

.COLUMNh3{
    text-align: center;
    padding-top: 4%;
}

.COLUMN p{
    font-family: 'Courier New', Courier, monospace;
}

.COLUMN a {
    font-family: 'Saira Condensed', sans-serif;
    color: black;
}

.COLUMN a:hover {
    text-decoration: underline;
}
/* .column p{
    text-align: center;
} */
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*bags*/


/*FOOTER*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.footer{
    width: 100%;
    display: block;
    overflow: hidden;
    /* padding-top: 20px; */
    margin-top: 20px;
    padding: 70px 0 30px;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner_footer{
    display:block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

/* a:visited {
    color: white ;
    background-color: transparent;
    text-decoration: none;
} 
a:hover {
    color:rgba(243, 39, 39, 0.418);
    background-color: transparent;
    text-decoration: bold;
} */

.footer_third a:hover {
    opacity:1.0;
}
/* rgba(255, 255, 255, 0.418) */
.inner_footer .logo_container{
    width: 20%;
    float: left;
    height: 100%;
    display: block;
    padding-top: 10px;
    padding-left: 50px;
    size: 50px;
}

.inner_footer .logo_container img{
    /* font-family:  'Imperial Script', cursive;
    color: rgb(223, 75, 75);
    font-family: 'Oswald', sans-serif; */
    width: 100px;
    height: auto;
    padding-left: 0px;
}

.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    /* margin-right: 10px; */
    float: left;
    height: 100%;
    padding-right: 50px;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
}

.inner_footer .footer_third h2{
    font-family: arial;
    font_size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third h2 a{
    padding-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: arial;
    font_size: 15px;
    color: white;
    display: inline-block;
    font-weight: 100px;
    width: 100%;
    /* padding: 0 5px; */
    padding-bottom: 15px;
}

.inner_footer .footer_third li{
    display: inline-block;
    width: 30px;
    height: 25px;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span{
    color: white;
    font-size: 16px;
    font-family: 'arial';
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 10px;
} 

.footer-bottom {
    /* text-align: center; */
    color: white;
    /* float: left; */
    /* text-align: center; */
    /* margin-top: 50%; */
    /* padding-top: 60px; 
    padding-bottom: 0%; */
}
.footer-bottom p{
    text-align: center;
}
@media(max-width: 600px){
    .footer .inner_footer{
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 30px;
    }
}
/* END OF FOOTER */



.team .team_member{
    background: #fff;
    width: 250px;
    margin: 5px;
    margin-bottom: 50px;
    padding: 20px;
    line-height: 20px;
    color: 8e8b8b;
    position:relative;
}

.section1{
    width: 250px;
    position: relative;
    display: flex;
/* padding-left: 20px; */
    justify-content: center;
    flex: 1;
        

}
