@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Luxurious+Roman&family=Norican&family=Oswald&family=Saira+Condensed:wght@300;400&family=Trocchi&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Bungee&family=Cinzel:wght@400;600&family=Gloock&family=Great+Vibes&family=Imperial+Script&family=Kanit:wght@300&family=League+Spartan&family=Luxurious+Roman&family=Norican&family=Oswald&family=Poppins:wght@400;500;600&family=Prosto+One&family=Raleway:wght@400;500;600&family=Saira+Condensed:wght@300;400&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Merriweather:wght@700&family=Noto+Sans&family=Pacifico&family=Raleway&family=Roboto&family=Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Merriweather:wght@700&family=Noto+Sans&family=Pacifico&family=Raleway&family=Roboto&family=Roboto+Slab&family=Sulphur+Point&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    padding: 0 4px;
    cursor: pointer;
}

/*----------------- START TOP FOOTER -------------*/
.top-footer{
    width: 100%;
    height: 2rem;
    background-color: black;
}

.footer-context h4{
    text-align: center;
    padding: 4px;
    color: white;
    font-size: 1rem;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: capitalize;
    animation: animate 10s infinite ease-in-out;
}

@keyframes animate {
    0% {
        color: rgb(255, 201, 217);
    }

    50% {
        color: rgb(199, 247, 199);
    }

    100% {
        color: rgb(252, 175, 175)
    }
}


/* --------------------- END TOP FOOTER ---------------------- */

/* ------------------------ HEADER AND NAVBAR ----------------*/
.header {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header_content {
    text-align: center;
    padding: 0.3rem 0 1rem 0;
}

.hf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 2rem;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.hf h4 {
    font-size: 0.9rem;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

/* Style the search bar container */
.form {
    border: none;
}

/* Style the search input */
.input[type="text"] {
    width: 200px;
    padding: 10px;
    height: 33px;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
  
  /* Style the search button */
.form button[type="submit"] {
    margin: -50px;
    width: 32px;
    font-size: 1.4rem;
    border-bottom-right-radius: 10px;
    background: var black;
    color: black;
    cursor: pointer;
}

.nav-menu li{
    display: inline-block;
    padding: 0 20px;
}

.nav-menu li a{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
}

.nav-menu li a.active {
    color: #cac9c9;
} 

.nav-menu li a::before{
    content: " ";
    display: block;
    height: 2.5px;
    background-color: black;
    position: absolute;
    bottom: -17px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.nav-menu li a:hover::before,
.nav-menu li a.active::before{
    width: 100%;
}

.nav-menu::after {
    content: "";
    clear: both;
    display: table;
}

/* ----------hamburger -----------  */

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #49274A;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
    /* background-color: #061422; */
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #49274A;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #49274A;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #94618E;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

/* -------------- keyframes / MEDIA QUERY ------------- */
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);  
    }

    100%{
        opacity: 0;
        transform: scale(1.5);  
    }
}

@media only screen and (min-width: 1039px) {
    #header .hamburger {
        display: none;
    }

    #header .nav-menu ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-menu ul li {
        display: inline-block;
    }

    #header .nav-menu:after {
        display: none;
    }
}
 /* ---------------- END HEADER/NAVBAR SECTION ---------------  */


/* ----------------- START NEW ARRIVAL SECTION -------------------*/

.hero_content {
    align-items: center
}

.home-img {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    background-image: url(images/home\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 35s infinite ease-in-out;
}

@keyframes change {
    10% {
        background-image: url(images/home\ \(2\).jpg);
    }
    20% {
        background-image: url(images/pexel1.jpg);
    }
    40% {
        background-image: url(images/pexel2.jpg);
    }
    80% {
        background-image: url(images/moreimg\ \(1\).jpg);
    }
    100% {
        background-image: url(images/moreimg\ \(2\).jpg);
    }
}

@media (max-width: 600px){
    .home-img {
        width: 100%;
    }
}

.text {
    padding: 3% 10rem 2% ;
    /* font-variant: small-caps; */
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}

.text h1 {
    font-size: 2.1rem;
}

.text p{
    padding: 0.5rem 0 1% 0;
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Roboto Slab', sans-serif; */
    font-size: 1.2rem;
    font-weight: 100;
}

.button1 {
    border: none;
    color: white;
    padding: 10px 28px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    font-size: 110%;
    background-color: white; 
    color: black; 
    margin-top: 0.7rem;
    border: 2px solid black;
    font-family: 'Orbitron', sans-serif;
}
  
.button1:hover {
    background-color: black;
    color: white;
}
/*   ------------------- END NEW ARRIVAL SECTION ------------------------*/

/* --------------------------------- WINTER BAG SECTION ------------------------  */
.latest_section_container {
    margin-top: 4%;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff4f8;
}

.latest_section_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_image img{
    width: 50vw
}

.latest_details {
    text-transform: uppercase;
    padding-right: 10%;
    text-align: center;
    line-height: 1.5;
}

.latest_details h3 {
    font-size: 3rem;
}

.latest_details p {
    line-height: 2;   
    font-size: 1rem;
}

/* --------------------------------- WINTER BAG SECTION ------------------------  */

/* ---------------- START VAulT SECTION -------------*/
.vault_content {
    font-family: 'Sulphur Point', sans-serif;
}

.vault_header {
    text-align: center;
    font-size: 1.2rem;
    font-variant: small-caps;
    padding: 4rem 0 3rem 0;
}

.vault_columns {
    display: flex;
    gap: 2rem;
}

.vault_columns {
    text-align: center;
}

.column h4 a{
    color: black;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
}

.column img{
    padding: 0 0 0.6rem 0;
}

.column h4 {
    margin-bottom: 1rem;
}

.column span a {
    text-decoration: underline;
    color: black;
    font-size: 1rem;
}

 /* ------------------------------------ @ MEDIA QUERY FOR VAULT SECTION --------------------  */
@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
} 
/* ------------------------------ END VAULT SECTION -----------------------*/

/* --------------------------------------- FEATURED SECTION --------------------------  */
.feature_section_container {
    padding: 6% 3% 5% 3%;
    font-family: 'Sulphur Point', sans-serif;
}

.feature_section_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature_title {
    font-size: 2rem;
    padding-bottom: 2.5%;
}

.feature {
    position: relative;
    color: white;
    overflow: hidden;
}

.feature_details {
    position: absolute;
    bottom: 120px;
    left: 16px;
}

.feature_details h3 {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: bold;
}

.feature img {
    width: 100%;
    transition: transform .2s;
}

.feature:hover img {
    transform: scale(1.1);
}

@media (max-width: 950px) {
    .feature_title {
        font-size: 1.5rem;
    }
}
/* background: rgb(0, 0, 0); 
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1; */


/* --------------------- START ABOUT US SECTION ---------------------*/
.about_container {
    margin-bottom: 8%;
    font-family: 'Sulphur Point', sans-serif;
}

.about_title {
    text-align: center;
    font-size: 1.4rem;
    padding: 6rem 0 3rem 0;
    text-transform: uppercase;
}

.about_content {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.about_text {
    color: white;
    text-align: center;
    width: 4000px;
    padding: 4%;
}

.about_text h4 {
    font-size: 2.5rem;
}

.about_text p {
    font-size: 1.4rem;
    padding: 2% 0 3% 0;
}

.about_right_image img {
    width: 100%;
}

.button2 {
    padding: 1% 4% 1% 4%;
    font-size: 110%;
    background-color: white; 
    color: black; 
    margin-top: 0.7rem;
    border: 2px solid black;
}
  
.button2:hover {
    background-color: #b3abab;
    color: black;
}

/* -----------------------MEDIA QUERY ABOUT SECTION ---------------------  */

@media (max-width: 1250px) {
    .about_content {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 1rem;
    }

    .about_text {
        width: 100%;
        padding: 5%;
    }
}
/* ------------------END ABOUT US SECTION ------------------ */


/* ------------------------------------ BAG MODELS CONTAINER SECTION -----------------------  */
.designer_title {
    text-align: center;
    text-transform:  uppercase;
    letter-spacing: 2px;
    line-height: 2;
    margin: 2% 0 3% 0;
    font-size: 2.3rem;
    font-family: 'Sulphur Point', sans-serif;
}

.designer_row {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0%;
}

/* .designer_columns {
    flex: 20%;
    grid-area: 20%;
    max-width: 50%;
} */

.designer_columns img {
    width: 100%;
}

@media (max-width: 850px) {
    .designer_title {
        font-size: 1.8rem;
        font-weight: bold;
    }
}

@media (max-width: 950px) {
    .designer_columns {
        display: flex;
        flex-direction: column;
        /* display: grid; */
        /* grid-template-columns: repeat(1fr, 1fr); */
        /* flex-direction: column; */
        /* flex-wrap: nowrap; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
    }
}














/* ----------------------------- BANNER (NEWSPAPAR) SECTION ----------------  */
.banner_container {
    margin-top: 5%;
    padding: 3%;
    text-align: center;
    background-color: #fff4f8;
    line-height: 2;
}

.banner_content h2{
    font-size: 2rem;
    font-family: 'Pacifico', sans-serif;
    line-height: 2.8;
    word-spacing: 5px;
}

.banner_content p {
    /* font-family: 'Agbalumo', sans-serif; */
    font-family: 'Sulphur Point', sans-serif;
    font-size: .9em;
}

.btn-signup {
    padding-top: 2.3%;    
}

.socials-icons {
    justify-content: center;
}

.socials-icons li i {
    line-height: 2;
    font-size: 1.6rem;
}

.btns {
    padding: .7% 12% .7% 12%;
    border: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
}

.button6 {
    background-color: white; 
    color: black; 
    margin-top: 0.7rem;
    border: 2px solid black;
    margin-bottom: 1%;
}
  
.button6:hover {
    background-color: black;
    color: white;
}
/* #fff4f8; */
/* #ba0c2f; */